@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,600;1,700;1,800&display=swap');

.App {
	width: 100%;
	background: #EAEAEA;
}

header {
	margin: 0 auto;
	max-width: 1135px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-name a {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;

	color: #101010;
}

.header-icon {
	position: relative;
}

.header-icon__like {
	margin-right: 45px;
	width: 30px;
	height: 30px;
}

.header-icon__shopping-cart {

	width: 30px;
	height: 30px;
}

.number-in-the-basket {
	position: absolute;
	right: -10px;
	top: -8px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	width: 20px;
	height: 20px;

	color: #FFFFFF;
	background: #FFA542;
	border-radius: 50%
}

.number-in-the-basket-displayNone {
	display: none;
}